darkdetect==0.8.0
keras_preprocessing==1.1.2
PyGObject==3.42.1
pytest==7.4.4
scikit_learn==1.4.0
seaborn==0.13.1
setuptools==68.2.2
tkinterDnD==0.0.0
traitlets==5.14.1
typing_extensions==4.9.0
customtkinter==5.2.2
tensorflow==2.15.0
pillow==10.2.0
opencv-python==4.9.0.80


